@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Jockey+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=IM+Fell+DW+Pica:ital@0;1&family=Jockey+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}
h1{
    font-family: "IM Fell Great Primer", serif;
}
h6{
    font-family: "Inder", sans-serif;
}


.nav-link{
    color: white;
}

li{
    margin-left: 60px;
}

.textoBaixo{
    padding-top: 7px;
    font-family: "IM Fell Great Primer", serif;
}

.navbar-brand{
    width: 18vh;
}
.navbar {
    height: 17vh;
    background-color: #4D1C01;
    justify-content: space-between;
}